.userComments {
  margin-top: 1rem;
}
.commt {
  padding: 1rem;
  font-size: 1.3rem;
  color: gray;
  font-weight: bold;
  font-family: monospace, sans-serif;
}
.userComment {
  border: 2px solid rgb(196, 81, 196);
  border-radius: 1rem;
  margin: 0.3rem auto;
}

.userComment > :nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0.4rem;
  font-family: 1.1rem;
  color: gray;
  font-weight: bold;
}
.userComment > :nth-child(1) > span {
}
.userComment > :nth-child(2) {
  display: block;
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.userComment > :nth-child(2) > button {
  background-color: rgba(161, 13, 13, 0.673);
  font-weight: 900;
  font-family: monospace;
  padding: 0.2rem;
  font-size: 0.7rem;
  color: white;
  border-radius: 0.3rem;
  cursor: pointer;
}
